.productStyle {
    margin-right: 10px;
    display: flex;
    border-bottom: 2px solid gray;
    padding-bottom: 10px;
}
.pr-left-side{
    margin-right: 40px ;
    margin-top: 40px;
}
.pr-right-side h3{
    color: rgb(59, 42, 185);
    padding: 5px;
    margin-right: 5px;

}
.cart-btn {
    background: goldenrod;
    border: 1px solid gray;
    padding: 8px 50px;
    font-size: 16px;
    cursor: pointer;
    font-weight: 700;
}
.star-style{
    color: rgb(245, 211, 19);
    margin-left: 500px;
    font-size: 20px;
}